@import "variables.scss";
@import 'medias-queries.scss';

#contacto_main {
    background-color: $main-color;
    h2{
        font-family: $main-font;
        color: black;
        text-shadow: 1px 1px 2px white;
        text-align: center;
        padding: 30px;
        text-decoration: underline;
        margin-top: 2vh;
    }
    form {
        display: flex;
        flex-direction: column;
        font-family: $main-font;
        width: 30%;
        margin: auto;
        border: 1px solid black;
        border-radius: 10px;
        padding: 30px;
        background:rgb(201, 199, 199);
    }
    .botones {
        display: flex;
    }
    
    .button {
        width: 50%;
        border-radius: 10px;
        font-family: $main-font;
        color: black;
    }
}

