@media only screen and (max-width: 715px) {
    .registro {
        .login {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            cursor: pointer;
            button {
                padding: 0;
                border: none;
                background: none;
                :hover {
                    color: white;
                    background: linear-gradient(#4E5F6E, rgb(54, 54, 105));
                    text-shadow: none;
                    padding: 1px 2px;
                    border-radius: 5px;
                    text-decoration: none;
                }
            }
            a {
                font-size: large;
                color: #fff;
                text-decoration: underline;
            }  
        }
    }
    #main-formulario {
        width: 100%;
        form {
            width: 80%;
        }
    }
    .caja {
        width: 90%;
        p {
            color: white;
            text-shadow: 1px 1px 2px black;
        }
    }
    .cartas
     {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 45% 45%;
        grid-row-gap: 30px;
    } 
    footer {
        font-size: medium;
    }
}