@media only screen and (max-width: 715px) {
    .registro {
        .login {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            cursor: pointer;
            button {
                padding: 0;
                border: none;
                background: none;
                :hover {
                    color: white;
                    background: linear-gradient(#4E5F6E, rgb(54, 54, 105));
                    text-shadow: none;
                    padding: 1px 2px;
                    border-radius: 5px;
                    text-decoration: none;
                }
            }
            a {
                font-size: large;
                color: #fff;
                text-decoration: underline;
            }  
        }
    }
    #main-formulario {
        width: 100%;
        form {
            width: 80%;
        }
    }
    .caja {
        width: 90%;
        p {
            color: white;
            text-shadow: 1px 1px 2px black;
        }
    }
    .cartas
     {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 45% 45%;
        grid-row-gap: 30px;
    } 
    footer {
        font-size: medium;
    }
}

@media only screen and (max-width: 576px) {
    header {
        height: 25vh;
        h2 {
            position: absolute;
            visibility: hidden;
        }
        div {
            display: grid;
            grid-template-rows: calc(100% / 3);
            grid-template-columns: 100%;
            height: 100%;
            grid-template-areas: "navegador"
                                 "h1"
                                 "botones";
            .navegador {
                display: flex;
                justify-content: space-around;
                grid-area: navegador;
            }
            h1 {
                width: 100%;
                grid-area: h1;
                background-color: $main-color;
                color: white;
                text-shadow: 1px 1px 2px black;
            }
            .registro {
                grid-area: botones;
                .login {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                   button {
                     border: 1px solid black;
                     border-radius: 8px;
                     padding: 3px 3px;
                     background-color: rgb(54, 54, 105);
                     a {
                        text-decoration: none;
                        :hover {
                            color: rgb(236, 231, 231);
                        }
                     }
                   }
                }
            }
        }
    }
    main {
        .center {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-position: top;
            background-size: cover;
            p, h3 {
                text-align: center;
            }
        }
        section {
            display: flex;
            flex-direction: column;
            a {
                min-width: 100vw;
                height: calc(100% / 3);
            }
        }
    }
    #contacto_main {
        form {
            width: 80vw;
        }
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 8vh;
        a {
            position: absolute;
            width: 100%;
            text-align: center;
            font-size: x-large;
        }
        .textos_footer {
            a {
              visibility: hidden;
              position: absolute;
            }
        }
    }
}