main {
  display: flex;
  flex-direction: column;
  background-color: #D7D4C5;
  margin-top: 1vh; }

#autumn {
  margin-top: 3vh; }

.caja {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 4px;
  height: 50vh;
  width: 50%;
  margin: auto;
  margin-top: 3vh;
  background: linear-gradient(to right, #D9A851, #B66D3E); }
  .caja img {
    width: 40%;
    height: 100%; }

.textos {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
  text-align: center;
  font-family: var(--main-font); }
  .textos h4 {
    font-size: xx-large;
    text-decoration: underline; }

.caja2 {
  background: linear-gradient(to left, #4E5F6E, #A2B0BB);
  color: #1D252B; }
  .caja2 h4 {
    color: white;
    text-shadow: 1px 1px 2px #1D252B; }

.caja3 {
  background: linear-gradient(to right, #680017, #b33751);
  color: white;
  text-shadow: 1px 1px 2px black; }

.caja4 {
  background: linear-gradient(to right, #dd3665, #DDAAC7);
  color: white;
  text-shadow: 1px 1px 2px black; }

.cartas {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 100%;
  margin-top: 4vh;
  padding-bottom: 5vh; }
  .cartas div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    border: 1px solid #5f5e5e;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    text-align: center; }
  .cartas img {
    height: 70%;
    border-bottom: 1px solid black; }
  .cartas p {
    height: 30%;
    overflow: hidden;
    font-family: var(--main-font);
    font-size: large;
    color: black; }

#autumn .cartas div {
  background: linear-gradient(to right, rgba(109, 19, 19, 0.667), rgba(163, 141, 99, 0.733));
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  color: black; }

#winter .cartas div {
  background: linear-gradient(to right, #4E5F6E, #363669);
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  color: black; }

#spring .cartas div {
  background: linear-gradient(to right, #c02345, #b33751);
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  color: black; }

#summer .cartas div {
  background: linear-gradient(to right, #80263f, #DDAAC7);
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  color: black; }

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4vh;
  background-color: #D7D4C5;
  padding: 0px 10px 0 10px; }
  footer p {
    font-family: var(--main-font);
    font-size: medium;
    width: 50%; }

.textos_footer {
  display: flex;
  justify-content: space-between;
  width: 75%; }
