@media only screen and (max-width: 715px) {
  .registro .login {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    cursor: pointer; }
    .registro .login button {
      padding: 0;
      border: none;
      background: none; }
      .registro .login button :hover {
        color: white;
        background: linear-gradient(#4E5F6E, #363669);
        text-shadow: none;
        padding: 1px 2px;
        border-radius: 5px;
        text-decoration: none; }
    .registro .login a {
      font-size: large;
      color: #fff;
      text-decoration: underline; }
  #main-formulario {
    width: 100%; }
    #main-formulario form {
      width: 80%; }
  .caja {
    width: 90%; }
    .caja p {
      color: white;
      text-shadow: 1px 1px 2px black; }
  .cartas {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-row-gap: 30px; }
  footer {
    font-size: medium; } }

@media only screen and (max-width: 576px) {
  header {
    height: 25vh; }
    header h2 {
      position: absolute;
      visibility: hidden; }
    header div {
      display: grid;
      grid-template-rows: calc(100% / 3);
      grid-template-columns: 100%;
      height: 100%;
      grid-template-areas: "navegador" "h1" "botones"; }
      header div .navegador {
        display: flex;
        justify-content: space-around;
        grid-area: navegador; }
      header div h1 {
        width: 100%;
        grid-area: h1;
        background-color: #ebe3e3;
        color: white;
        text-shadow: 1px 1px 2px black; }
      header div .registro {
        grid-area: botones; }
        header div .registro .login {
          width: 50%;
          display: flex;
          flex-direction: row; }
          header div .registro .login button {
            border: 1px solid black;
            border-radius: 8px;
            padding: 3px 3px;
            background-color: #363669; }
            header div .registro .login button a {
              text-decoration: none; }
              header div .registro .login button a :hover {
                color: #ece7e7; }
  main .center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position: top;
    background-size: cover; }
    main .center p, main .center h3 {
      text-align: center; }
  main section {
    display: flex;
    flex-direction: column; }
    main section a {
      min-width: 100vw;
      height: calc(100% / 3); }
  #contacto_main form {
    width: 80vw; }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh; }
    footer a {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: x-large; }
    footer .textos_footer a {
      visibility: hidden;
      position: absolute; } }

header {
  display: flex;
  flex-direction: column;
  width: 100%; }
  header div {
    display: grid;
    width: 100%;
    height: 10vh;
    margin: auto;
    background-color: #fff;
    grid-template-columns: 35% auto 35%;
    grid-template-rows: 100%;
    grid-template-areas: "navegador logo inicio";
    text-align: center;
    justify-content: space-around;
    align-items: center; }
  header h2 {
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px; }
  header div h1 {
    font-family: "Bebas Neue", cursive;
    border-top: 1px  solid black;
    border-bottom: 1px  solid black;
    margin: auto; }

.navegador {
  display: flex;
  justify-content: space-between;
  grid-area: navegador;
  font-size: large; }
  .navegador a {
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
    font-size: x-large;
    color: black; }
  .navegador a:hover {
    color: #bd1637; }

.btn-group {
  width: 40%; }

#main-btn {
  background: linear-gradient(#4E5F6E, #363669);
  border-color: black;
  font-family: "Bebas Neue", cursive;
  font-size: medium; }

.dropdown-menu {
  text-align: center;
  border: 1px solid black; }
  .dropdown-menu :hover {
    background-color: #363669; }
  .dropdown-menu li a:hover {
    border-radius: 5px;
    color: white; }
  .dropdown-menu li a {
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
    font-size: large;
    color: black; }

.registro {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  grid-area: inicio; }

.login {
  display: flex; }
  .login button {
    padding: 3px 4px;
    border-radius: 5px;
    border: 1px solid black;
    background: linear-gradient(#4E5F6E, #363669); }
    .login button a {
      text-decoration: none;
      font-family: "Bebas Neue", cursive;
      font-size: medium;
      color: white;
      text-shadow: 1px 1px 2px black; }

#index_main {
  display: flex;
  flex-direction: column;
  background-color: #ebe3e3; }
  #index_main section {
    display: flex;
    margin-bottom: 2px; }
    #index_main section a {
      width: calc(100% / 3);
      height: 60vh;
      text-decoration: none; }
      #index_main section a div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-right: 5px;
        border: 0.5px solid #7e7e7e;
        border-radius: 10px; }
      #index_main section a p {
        font-family: "Bebas Neue", cursive;
        font-size: xx-large;
        color: white;
        text-shadow: 1px 1px 2px black;
        text-decoration: underline 2px;
        text-align: center; }

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/Main_imagen.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin-bottom: 10px; }
  .center p {
    color: white;
    font-size: 40px;
    font-family: "Bebas Neue", cursive;
    text-shadow: 1px 1px 2px black; }
  .center h3 {
    color: white;
    font-size: 80px;
    text-shadow: 1px 1px 2px black; }

.first_img {
  background-image: url(../Assets/buzos_de_lana.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  width: 100%; }

.second_img {
  background-image: url(../Assets/campera_cuero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  width: 100%; }

.third_img {
  background-image: url(../Assets/zapatos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  width: 100%; }

@media only screen and (max-width: 715px) {
  .registro .login {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    cursor: pointer; }
    .registro .login button {
      padding: 0;
      border: none;
      background: none; }
      .registro .login button :hover {
        color: white;
        background: linear-gradient(#4E5F6E, #363669);
        text-shadow: none;
        padding: 1px 2px;
        border-radius: 5px;
        text-decoration: none; }
    .registro .login a {
      font-size: large;
      color: #fff;
      text-decoration: underline; }
  #main-formulario {
    width: 100%; }
    #main-formulario form {
      width: 80%; }
  .caja {
    width: 90%; }
    .caja p {
      color: white;
      text-shadow: 1px 1px 2px black; }
  .cartas {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-row-gap: 30px; }
  footer {
    font-size: medium; } }

@media only screen and (max-width: 576px) {
  header {
    height: 25vh; }
    header h2 {
      position: absolute;
      visibility: hidden; }
    header div {
      display: grid;
      grid-template-rows: calc(100% / 3);
      grid-template-columns: 100%;
      height: 100%;
      grid-template-areas: "navegador" "h1" "botones"; }
      header div .navegador {
        display: flex;
        justify-content: space-around;
        grid-area: navegador; }
      header div h1 {
        width: 100%;
        grid-area: h1;
        background-color: #ebe3e3;
        color: white;
        text-shadow: 1px 1px 2px black; }
      header div .registro {
        grid-area: botones; }
        header div .registro .login {
          width: 50%;
          display: flex;
          flex-direction: row; }
          header div .registro .login button {
            border: 1px solid black;
            border-radius: 8px;
            padding: 3px 3px;
            background-color: #363669; }
            header div .registro .login button a {
              text-decoration: none; }
              header div .registro .login button a :hover {
                color: #ece7e7; }
  main .center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position: top;
    background-size: cover; }
    main .center p, main .center h3 {
      text-align: center; }
  main section {
    display: flex;
    flex-direction: column; }
    main section a {
      min-width: 100vw;
      height: calc(100% / 3); }
  #contacto_main form {
    width: 80vw; }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh; }
    footer a {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: x-large; }
    footer .textos_footer a {
      visibility: hidden;
      position: absolute; } }

body {
  background-color: #ebe3e3; }

main {
  display: flex;
  flex-direction: column;
  background-color: #ebe3e3; }

#autumn {
  margin-top: 3vh; }

.caja {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 4px;
  height: 50vh;
  width: 50%;
  margin: auto;
  margin-top: 3vh;
  background: linear-gradient(to right, #D9A851, #B66D3E); }
  .caja img {
    width: 40%;
    height: 100%; }

.textos {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
  text-align: center;
  font-family: "Bebas Neue", cursive; }
  .textos h4 {
    font-size: xx-large;
    text-decoration: underline; }

.caja2 {
  background: linear-gradient(to left, #4E5F6E, #A2B0BB);
  color: #1D252B; }
  .caja2 h4 {
    color: white;
    text-shadow: 1px 1px 2px #1D252B; }

.caja3 {
  background: linear-gradient(to right, #680017, #b33751);
  color: white;
  text-shadow: 1px 1px 2px black; }

.caja4 {
  background: linear-gradient(to right, #dd3665, #DDAAC7);
  color: white;
  text-shadow: 1px 1px 2px black; }

.cartas {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 100%;
  margin-top: 4vh;
  padding-bottom: 5vh; }
  .cartas div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    border: 1px solid #5f5e5e;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    text-align: center; }
  .cartas img {
    height: 70%;
    border-bottom: 1px solid black; }
  .cartas p {
    height: 30%;
    overflow: hidden;
    font-family: var(--main-font);
    font-size: large;
    color: #fff;
    text-shadow: 1px 1px 2px black; }

#autumn .cartas div {
  background: linear-gradient(to right, rgba(109, 19, 19, 0.667), rgba(163, 141, 99, 0.733));
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  color: black; }

#winter .cartas div {
  background: linear-gradient(to right, #4E5F6E, #363669);
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  color: black; }

#spring .cartas div {
  background: linear-gradient(to right, #c02345, #b33751);
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  color: black; }

#summer .cartas div {
  background: linear-gradient(to right, #80263f, #DDAAC7);
  font-family: "Bebas Neue", cursive;
  font-size: medium;
  color: black; }

footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6vh;
  font-family: "Bebas Neue", cursive;
  font-size: large;
  text-shadow: 1px 1px 2px black; }
  footer a {
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-decoration: none;
    color: white; }
  footer .textos_footer {
    display: flex;
    justify-content: flex-end;
    width: 70%; }
    footer .textos_footer :hover {
      color: white;
      background: linear-gradient(#4E5F6E, #363669);
      text-shadow: none;
      padding: 1px 2px;
      border-radius: 5px;
      text-decoration: none; }

body {
  display: flex;
  flex-direction: column; }

#main-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh; }
  #main-formulario form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 35%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #eceff1;
    box-shadow: 2px 2px 5px #030303; }
    #main-formulario form * {
      margin: 20px 20px; }
    #main-formulario form input {
      font-family: "Bebas Neue", cursive;
      font-size: 15px;
      padding: 10px;
      border: unset;
      border-bottom: 1px solid black;
      background-color: #eceff1; }
    #main-formulario form a {
      font-family: "Bebas Neue", cursive;
      color: black;
      text-decoration: none;
      font-size: large;
      padding: 10px;
      border-radius: 15px;
      align-self: center; }
    #main-formulario form #ingresar {
      font-family: "Bebas Neue", cursive;
      font-size: 30px; }
    #main-formulario form .checkbox1 {
      font-family: "Bebas Neue", cursive;
      font-size: 15px;
      background-color: #eceff1;
      text-align: center; }
    #main-formulario form #conect {
      width: 50%;
      align-self: center;
      padding: 10px;
      color: white;
      font-size: 20px;
      border-radius: 15px;
      background: linear-gradient(#4E5F6E, #363669);
      border: 1px; }
      #main-formulario form #conect #conect:hover {
        transform: rotateX(25deg); }

@media only screen and (max-width: 715px) {
  .registro .login {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    cursor: pointer; }
    .registro .login button {
      padding: 0;
      border: none;
      background: none; }
      .registro .login button :hover {
        color: white;
        background: linear-gradient(#4E5F6E, #363669);
        text-shadow: none;
        padding: 1px 2px;
        border-radius: 5px;
        text-decoration: none; }
    .registro .login a {
      font-size: large;
      color: #fff;
      text-decoration: underline; }
  #main-formulario {
    width: 100%; }
    #main-formulario form {
      width: 80%; }
  .caja {
    width: 90%; }
    .caja p {
      color: white;
      text-shadow: 1px 1px 2px black; }
  .cartas {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-row-gap: 30px; }
  footer {
    font-size: medium; } }

@media only screen and (max-width: 576px) {
  header {
    height: 25vh; }
    header h2 {
      position: absolute;
      visibility: hidden; }
    header div {
      display: grid;
      grid-template-rows: calc(100% / 3);
      grid-template-columns: 100%;
      height: 100%;
      grid-template-areas: "navegador" "h1" "botones"; }
      header div .navegador {
        display: flex;
        justify-content: space-around;
        grid-area: navegador; }
      header div h1 {
        width: 100%;
        grid-area: h1;
        background-color: #ebe3e3;
        color: white;
        text-shadow: 1px 1px 2px black; }
      header div .registro {
        grid-area: botones; }
        header div .registro .login {
          width: 50%;
          display: flex;
          flex-direction: row; }
          header div .registro .login button {
            border: 1px solid black;
            border-radius: 8px;
            padding: 3px 3px;
            background-color: #363669; }
            header div .registro .login button a {
              text-decoration: none; }
              header div .registro .login button a :hover {
                color: #ece7e7; }
  main .center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position: top;
    background-size: cover; }
    main .center p, main .center h3 {
      text-align: center; }
  main section {
    display: flex;
    flex-direction: column; }
    main section a {
      min-width: 100vw;
      height: calc(100% / 3); }
  #contacto_main form {
    width: 80vw; }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh; }
    footer a {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: x-large; }
    footer .textos_footer a {
      visibility: hidden;
      position: absolute; } }

#contacto_main {
  background-color: #ebe3e3; }
  #contacto_main h2 {
    font-family: "Bebas Neue", cursive;
    color: black;
    text-shadow: 1px 1px 2px white;
    text-align: center;
    padding: 30px;
    text-decoration: underline;
    margin-top: 2vh; }
  #contacto_main form {
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue", cursive;
    width: 30%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    background: linear-gradient(#4E5F6E, #363669); }
    #contacto_main form #checkbox {
      color: black; }
    #contacto_main form input {
      color: black;
      text-align: center; }
  #contacto_main .botones {
    display: flex; }
  #contacto_main .button {
    width: 50%;
    border-radius: 10px;
    font-family: "Bebas Neue", cursive;
    color: black; }

@media only screen and (max-width: 715px) {
  .registro .login {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    cursor: pointer; }
    .registro .login button {
      padding: 0;
      border: none;
      background: none; }
      .registro .login button :hover {
        color: white;
        background: linear-gradient(#4E5F6E, #363669);
        text-shadow: none;
        padding: 1px 2px;
        border-radius: 5px;
        text-decoration: none; }
    .registro .login a {
      font-size: large;
      color: #fff;
      text-decoration: underline; }
  #main-formulario {
    width: 100%; }
    #main-formulario form {
      width: 80%; }
  .caja {
    width: 90%; }
    .caja p {
      color: white;
      text-shadow: 1px 1px 2px black; }
  .cartas {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-row-gap: 30px; }
  footer {
    font-size: medium; } }

@media only screen and (max-width: 576px) {
  header {
    height: 25vh; }
    header h2 {
      position: absolute;
      visibility: hidden; }
    header div {
      display: grid;
      grid-template-rows: calc(100% / 3);
      grid-template-columns: 100%;
      height: 100%;
      grid-template-areas: "navegador" "h1" "botones"; }
      header div .navegador {
        display: flex;
        justify-content: space-around;
        grid-area: navegador; }
      header div h1 {
        width: 100%;
        grid-area: h1;
        background-color: #ebe3e3;
        color: white;
        text-shadow: 1px 1px 2px black; }
      header div .registro {
        grid-area: botones; }
        header div .registro .login {
          width: 50%;
          display: flex;
          flex-direction: row; }
          header div .registro .login button {
            border: 1px solid black;
            border-radius: 8px;
            padding: 3px 3px;
            background-color: #363669; }
            header div .registro .login button a {
              text-decoration: none; }
              header div .registro .login button a :hover {
                color: #ece7e7; }
  main .center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position: top;
    background-size: cover; }
    main .center p, main .center h3 {
      text-align: center; }
  main section {
    display: flex;
    flex-direction: column; }
    main section a {
      min-width: 100vw;
      height: calc(100% / 3); }
  #contacto_main form {
    width: 80vw; }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh; }
    footer a {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: x-large; }
    footer .textos_footer a {
      visibility: hidden;
      position: absolute; } }
