main {
  display: flex;
  flex-direction: column;
  background-color: #ebe3e3; }
  main section {
    display: flex;
    margin-bottom: 2px; }
    main section div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% / 3);
      height: 50vh;
      margin-right: 5px;
      border: 0.5px solid #7e7e7e;
      border-radius: 10px; }
      main section div p {
        font-family: var(--main-font);
        font-size: xx-large;
        color: white;
        text-shadow: 1px 1px 2px black;
        text-decoration: underline 2px;
        text-align: center; }
    main section div:nth-last-child(1) {
      margin-right: 0px; }

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/Main_imagen.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin-bottom: 10px; }
  .center p {
    color: white;
    font-size: 40px;
    font-family: var(--main-font);
    text-shadow: 1px 1px 2px black; }
  .center h3 {
    color: white;
    font-size: 80px;
    text-shadow: 1px 1px 2px black; }

.first_img {
  background-image: url(../Assets/buzos_de_lana.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  width: 100%; }

.second_img {
  background-image: url(../Assets/campera_cuero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  width: 100%; }

.third_img {
  background-image: url(../Assets/zapatos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  width: 100%; }

footer {
  display: flex;
  justify-content: space-between;
  height: 4vh;
  padding: 0px 10px 0 10px;
  background-color: #EBE3E3;
  color: #1f1e1e;
  font-family: "Bebas Neue", cursive;
  font-size: large; }
  footer .textos {
    width: 60%;
    display: flex;
    justify-content: space-between;
    overflow: hidden; }
